@value colors: 'theme/colors.css';
@value goldLight4, divider, goldLight5 from colors;

.recapCarousel {
    min-height: 760px;
}

.recapItem {
    padding: 16px;
    margin: 0 auto 24px auto;
    max-width: 620px;
    min-height: 550px;
    background: linear-gradient(150deg, goldLight5, goldLight4);

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.largeText {
    font-size: 24px;
}

.largeText b {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.subItem {
    font-size: 16px;

    .caption {
        font-size: 14px;
        font-style: italic;
        margin-left: 30px;
        opacity: 0.8;
    }
}

.subItem b {
    font-size: 18px;
}

.subItemIcon {
    vertical-align: middle;
    margin-right: 4px;
    color: theme.palette.text.secondary;
}

.listTitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid divider;
}

.list {
    max-width: 520px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.listContainer:first-child .listTitle {
    border-top: none;
    margin-top: none;
}

.listItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.listItemName {
    font-size: 16px;
    line-height: 24px;
}

.listItemValue {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.chartContainer {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.chart {
    flex-grow: 1;
    padding-top: 10px;
}

.legendText {
    color: black;
}

.tooltipLabel {
    margin: 0 8px 0 4px;
    color: black;
}

.tooltipValue {
    font-weight: bold;
    color: black;
}

.recapImagePage {
    padding: 16px 0;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .canvasContainer {
        width: calc(min(760px, 60vh * 1.9048, 90vw));
        height: calc(min(399px, 90vw / 1.9048, 60vh));

        .canvas {
            width: 100%;
            height: 100%;
        }
    }

    .recapImageShareButtons {
        display: flex;
        flex-direction: row;
        gap: 8px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.recapColumn {
}

.gridItem {
    text-align: left;
}

.legendText {
    font-family: Roboto;
}


