@value colors: 'theme/colors.css';
@value gray300, gray800, goldLight3 from colors;

.card {
    background-color: white;
}

.row {
    padding: 8px 16px;
    align-items: center;
}

.row:first-child {
    border-width: 0;
}

.stageNameRow, .cabinetNameRow {
    display: flex;
    justify-content: space-between;
    background-color: goldLight3;
}

.online .cabinetNameRow {
    background-color: goldLight3;
}

.cabinetNameRow .queueIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stageName, .cabinetName {
    font-weight: bold;
}

.activeMatch {
}

.activeMatch.active {
    font-weight: bold;
}

.activeMatch:not(.active) {
    font-style: italic;
    color: gray800;
}

.activeMatchContainer {
    background-color: gray300;
    margin-bottom: 16px;
}

.queuedMatches {
    min-height: 16px;
}

.menuIcon {
    cursor: pointer;
}
