@value colors: 'theme/colors.css';
@value tableTitleBg, textDisabled, divider from colors;

.inputRow {
    align-items: center;
    padding: 0 8px;
}

.label {
    margin: 8px 0;
}

.title {
    font-weight: bold;
}

.helperText {
    font-size: 12px;
    color: textSecondary;
}

.inputCell {
    text-align: right;
}

.numericInput {
}

.numericInput .MuiInputBase-input {
    text-align: right;
}

