@value goldMain: #ffb330;
@value goldDark1: #ffa70e;
@value goldDark2: #eb9500;
@value goldDark3: #c97f00;
@value goldDark4: #a76a00;
@value goldDark5: #855400;
@value goldLight1: #ffbf52;
@value goldLight2: #ffcc74;
@value goldLight3: #ffd896;
@value goldLight4: #ffe5b8;
@value goldLight5: #fff1da;

@value blueMain: #287fff;
@value blueDark1: #2860e8;
@value blueDark2: #10489d;
@value blueDark3: #143366;
@value blueDark4: #12264d;
@value blueDark5: #101933;
@value blueLight5: #ebf4ff;
@value blueLight4: #cce5ff;
@value blueLight3: #99ccff;
@value blueLight2: #66b2ff;
@value blueLight1: #3299ff;

@value gray50: #fafafa;
@value gray100: #f5f5f5;
@value gray200: #eeeeee;
@value gray300: #e0e0e0;
@value gray400: #bdbdbd;
@value gray500: #9e9e9e;
@value gray600: #757575;
@value gray700: #616161;
@value gray800: #424242;
@value gray900: #212121;

@value textPrimary: #212121;
@value textSecondary: #2121218a;
@value defaultBg: white;
@value tableTitleBg: goldLight2;
@value highlightBg: goldLight5;
@value selectedBg: goldLight3;

@value buttonPrimaryBg: #ffa70e;
@value buttonPrimaryBgHighlight: #eb9500;
@value buttonSecondaryBg: #c856c8;
@value buttonSecondaryBgHighlight: #8c4056;

@value divider: #e0e0e0;

@value success: #22bb33;
@value warning: #f0ad4e;
@value failure: #bb2124;
