@value colors: 'theme/colors.css';
@value textPrimary from colors;

.cabinetSelectContainer {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    position: relative;

    .label {
        position: absolute;
        color: rgba(0, 0, 0, 0.54);
        font-size: 12.8px;
        top: -8px;
        left: 14px;
        background: white;
        z-index: 1;
        width: fit-content;
    }

    .value, .nullValue {
        padding: 18px 14px;
        font-size: 17px;
        cursor: pointer;
    }

    .value {
        color: textPrimary;
    }

    .nullValue {
        color: rgba(0, 0, 0, 0.54);
    }
}

.cabinetSelectContainer:hover {
    border-color: textPrimary;
}

.sceneDialog {
    .sceneName {
        margin-left: 4px;
    }
}



