.orderedChoices {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 4px;

    .fieldLabel {
        font-size: 15px;
        padding: 4px 16px;
    }

    .contents {
        display: flex;
        flex-direction: row;
        padding: 16px 8px;
        gap: 8px;

        .unselected, .selected {
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;
            gap: 8px;

            .choice {
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.06);
                border-radius: 4px;
                background: white;

                .text {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: 0;
                    padding: 4px 8px;

                    .title {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .description {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
