.container {
    width: 1920px;
    height: 1080px;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

.container:not(:global(.fullscreen)) {
    transform: perspective(calc(min(1320px, 100vw))) translateZ(calc(min(1320px, 100vw) - 1920px));
    transform-origin: left top;
    margin-bottom: calc(min(1320px, 100vw) * 9/16 - 1080px);
}

.background {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: absolute;
    top: 0;
    left: 0;
}

.draggable {
    position: absolute;
    cursor: grab;
}

.draggable:global(.dragging) {
    cursor: grabbing;
}

.unit {
    z-index: 2;
    position: absolute;
}

.unit:global(.queen) {
    width: 84px;
    height: 78px;
}

.unit:global(.worker) {
    width: 40px;
    height: 52px;
}

.unit:global(.warrior) {
    width: 84px;
    height: 74px;
}

.snail {
    z-index: 1;
    position: absolute;
    left: 905px;
}

.flippable:global(.flipped) {
    transform: scaleX(-1);
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
