.table {
    .idCell {
        width: 150px;
    }

    .nameCell {
        width: 250px;
    }

    .editCell, .registerLinkCell {
        width: 70px;
    }

    .cabinetUnassigned {
        opacity: 0.7;
    }

    .cabinetName {
        margin-left: 4px;
    }

    @media (min-width: 769px) {
        .cabinetNameShort {
            display: none;
        }

        .mobileTextCell {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .nameCell, .idCell, .cabinetNameCell {
            display: none;
        }

        .mobileTextCell .mobileText {
            display: flex;
            flex-direction: column;

            .cabinetName {
                display: none;
            }

            .cabinetNameShort {
                margin-left: 4px;
            }
        }
    }
}

.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link {
    font-weight: bold;
    color: black;
    text-align: center;
}

.qrImage, .qrImage img {
    width: 100%;
}

.bottomCaption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media print {
    .qrImage, .qrImage img {
        width: 6cm;
    }
}
