@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

@value colors: 'theme/colors.css';
@value blueDark1, goldDark1, blueDark3, goldDark3, blueLight3, goldLight3 from colors;

@value blueBoxShadow: 0 0 15px 5px inset blueDark3;
@value goldBoxShadow: 0 0 15px 5px inset goldDark3;
@value lightBoxShadow: 0 0 15px 5px inset #ffffffaf;
@value darkBoxShadow: 0 0 15px 5px inset #202020af;
@value lightBackground: url("/static/wildflower/background.png");
@value darkBackground: url("/static/wildflower/background-dark.png");

.container {
    opacity: 0;
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 10px;
    transition: opacity 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Oswald, sans-serif;
    color: #202020;
    background-image: lightBackground;
}

.container:global(.active) {
    opacity: 1;
}

.roundName {
    position: absolute;
    top: 20px;
    left: 384px;
    width: 1152px;
    height: 114px;
    border-radius: 5px;
    box-shadow: darkBoxShadow;
    text-align: center;
    font-size: 54px;
    padding: 20px;
}

.teamContainer {
    position: absolute;
    top: 180px;
    width: 880px;
    border-radius: 5px;
    display: flex;

    .teamNameContainer {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;
        overflow: hidden;
        padding: 10px 25px;

        .teamName {
            overflow: hidden;
            white-space: nowrap;
            font-size: 48px;
        }

        .nextMatch {
            font-size: 24px;
        }
    }

    .teamScore {
        flex-basis: 100px;
        flex-grow: 0;
        text-align: center;
        font-size: 78px;
    }
}

.teamContainer:global(.left) {
    flex-direction: row;
    left: 50px;

    .teamName, .nextMatch {
        text-align: left;
    }
}

.teamContainer:global(.right) {
    flex-direction: row-reverse;
    right: 50px;

    .teamName, .nextMatch {
        text-align: right;
    }
}

.teamContainer:global(.blue) {
    box-shadow: blueBoxShadow;
}

.teamContainer:global(.gold) {
    box-shadow: goldBoxShadow;
}

.gameListTable {
    position: absolute;
    top: 360px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    .gameResult {
        width: 160px;
        height: 200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        font-size: 16px;

        .gameNumber, .mapName, .gameTime {
            flex-grow: 0;
            font-size: 20px;
        }

        .winTypeIndicator {
            flex-grow: 1;
            flex-basis: 0;
            margin: 8px 0;
            height: 100%;
        }

        .winTypeIndicator svg {
            height: 100%;
            width: unset;
        }
    }

    .gameResult:global(.blue) {
        box-shadow: blueBoxShadow;

        .winTypeIndicator {
            color: blueDark3;
        }
    }

    .gameResult:global(.gold) {
        box-shadow: goldBoxShadow;

        .winTypeIndicator {
            color: goldDark3;
        }
    }
}

.matchStatsTable {
    position: absolute;
    bottom: 16px;
    left: 32px;
    width: calc(100% - 64px);
    border-radius: 5px;
    box-shadow: darkBoxShadow;
    padding: 16px 0;

    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        align-items: center;

        .cell {
            text-align: center;
            flex-grow: 1;
            flex-basis: 0;
            font-size: 28px;
            font-weight: bold;
        }

        .statNameCell {
            text-align: center;
            flex-basis: 300px;
            flex-grow: 0;
            font-size: 24px;
        }
    }

    .row:not(:last-of-type) {
        border-bottom: 1px solid #aaa;
    }
}


.container:global(.dark) {
    background-image: darkBackground;

    .roundName, .matchStatsTable {
        box-shadow: lightBoxShadow;
    }

    .roundName, .teamContainer, .gameListTable .gameResult, .matchStatsTable {
        color: #efefef;
    }

    .matchStatsTable .row:not(:last-of-type) {
        border-bottom-color: #555;
    }
}
