@value colors: 'theme/colors.css';
@value buttonSecondaryBg, buttonSecondaryBgHighlight from colors;

.menuIcon {
    cursor: pointer;
    color: buttonSecondaryBg;
    vertical-align: middle;
}

.menuIcon:hover {
    color: buttonSecondaryBgHighlight;
}

.menuItem {
    color: black;
    padding-left: 8px;
    display: flex;
    flex-direction: row;

    .icon {
        margin-left: -16px;
    }
}

.menuItem:hover {
    text-decoration: none;
}

.subtitle {
    cursor: unset;
    font-weight: bold;
}

.subtitle:not(:first-of-type) {
    border-top: 1px solid #888;
    margin-top: 8px;
}

.subtitle:hover {
    background: unset;
}

.deleteTournament {
    color: #922;
}
