@value colors: 'theme/colors.css';
@value tableTitleBg, textDisabled, warning, divider, gray800 from colors;

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .column {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.stageSelect :global(.MuiSelect-select.MuiSelect-select) {
    padding-right: 40px;
    padding-left: 8px;
    min-width: 100px;
}

.placeholder {
    color: gray800;
    font-style: italic;
}

.stageSelectItem {
    padding: 8px 16px;
}

.resetStageWarning {
    border: 3px solid warning;
    padding: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.list {
    border-color: divider;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 8px;
}

.listTitle {
    font-weight: bold;
    background-color: tableTitleBg;
    padding: 6px 8px;
}

.listTitle.collapsed {
    background-color: #ccc;
    color: textDisabled;
}

.listItem {
    border-color: divider;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.listText {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 8px;
}

.listBody {
    min-height: 96px;
}

.listBody {
    min-height: 48px;
}

.menuIcon {
    cursor: pointer;
}

.teamEntry {
    .teamName {
        font-size: 16px;
    }

    .teamInfo {
        color: gray800;
        font-style: italic;
        margin-left: 8px;
    }
}
