@value colors: 'theme/colors.css';
@value gray200 from colors;

.bracketTitle {
    margin: 8px 0;
    text-align: center;
    border-bottom: 1px solid gray200;
    font-size: 18px;
    letter-spacing: .05rem;
}

.bracket {
    width: unset;
    overflow-x: auto;
    margin-bottom: 24px;
}
