@value colors: 'theme/colors.css';
@value divider from colors;

.round {
    display: flex;
    flex-direction: column;
}

.name {
    text-align: center;
    border-bottom: 1px solid divider;
    padding: 8px 0;
    margin: 8px 16px;
    font-size: 15px;
}

.matches {
    flex-grow: 1;
    justify-content: space-around;
}

