@value colors: 'theme/colors.css';
@value divider, goldLight4, blueLight3, blueLight4, textDisabled, textPrimary from colors;

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.isBye {
    visibility: hidden;
}

.isActive .container .teams {
    box-shadow: 0 0 3px 3px blueLight3;
}

.container {
    margin: 8px;
    margin-bottom: 9px;
    width: 20em;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.container:hover {
    border-bottom-color: black;
    margin-bottom: 8px;
}

.matchNum {
    font-size: 12px;
    color: textPrimary;
    padding: 0 4px;
    width: 2em;
    text-align: right;
}

.teams {
    border: 1px solid divider;
}

.blueRow {
    border-bottom: 1px solid divider;
}

.teamName {
    overflow: hidden;
    padding: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
    color: textDisabled;
    font-style: italic;
    border-right: 1px solid divider;
}

.winner .teamName {
    font-weight: bold;
}

.isTeam .winner .teamName {
    color: textPrimary;
    font-style: unset;
}

.score {
    width: 2em;
    text-align: right;
    flex-grow: 0;
    padding: 0.5em 1.5em;
}

.winner .score {
    font-weight: bold;
}

.blueScore {
    background-color: blueLight4;
}

.goldScore {
    background-color: goldLight4;
}

.text {
    color: textPrimary;
    text-decoration: none;
    font-size: 13px;
}

