@value colors: 'theme/colors.css';
@value tableTitleBg, textDisabled, divider from colors;

.list {
    border-color: divider;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 8px;
}

.listTitle {
    font-weight: bold;
    background-color: tableTitleBg;
}

.listTitle.collapsed {
    background-color: #ccc;
    color: textDisabled;
}

.listItem {
    border-color: divider;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 8px;
}

.listBody {
    min-height: 48px;
}

.listBody {
    min-height: 48px;
}

.menuIcon {
    cursor: pointer;
}

