@value colors: 'theme/colors.css';
@value gray500, goldLight5 from colors;

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    padding: 8px;

    .icon {
        height: 32px;
        width: 32px;
    }

    .title {
        font-family: Roboto, sans-serif;
        font-size: 16px;
    }
}

.row.connected {
    .title {
        font-weight: bold;
    }
}

.row:not(.connected) {
    cursor: pointer;
}

.row:not(.connected):hover {
    background-color: goldLight5;
    cursor: pointer;
    border-color: gray500;
}
