@value colors: 'theme/colors.css';
@value gray500, goldLight5 from colors;

.button {
    padding: 8px 16px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gray500;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 250px;

    .title {
        flex-grow: 1;
        text-align: center;
    }

    .icon {
        height: 24px;
        width: 24px;
    }
}

.button:hover {
    background-color: goldLight5;
    cursor: pointer;
}
