@value colors: 'theme/colors.css';
@value blueLight2, blueLight3, divider, goldLight2, goldLight3, gray100, textPrimary from colors;

.container {
    margin: 16px auto 0 auto;
    max-width: 800px;
}

.container a {
    text-decoration: none;
    color: textPrimary;
}

.teams {
    display: flex;
    flex-direction: row;
}

.team {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cabinetPosition, .redirecting, .loginLink {
    flex-grow: 1;
    flex-basis: 0;
    gap: 32px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: divider;
    border-radius: 10px;
    margin-top: 12px;
    background-color: gray100;
    width: 100%;
}

.cabinetPosition:hover {
    cursor: pointer;
    outline: 2px solid textPrimary;
}

.cabinetPosition:global(.active):global(.blue) {
    background: linear-gradient(135deg, blueLight3, blueLight2);
}

.cabinetPosition:global(.active):global(.gold) {
    background: linear-gradient(135deg, goldLight3, goldLight2);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 96px;
}

.name {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.name div {
    margin-right: 16px;
}

