.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qrCode {
    width: calc(min(90vh, 90vw));
    height: calc(min(90vh, 90vw));
}

.qrCode img {
    display: block;
    width: 100%;
    height: 100%;
}

.text {
    font-size: 20px;
    text-align: center;
}

.error {
    font-size: 20px;
    text-align: center;
    border: 1px solid red;
    padding: 4px;
}
