@value colors: 'theme/colors.css';
@value highlightBg from colors;

.invitesTable {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .inviteRow {
        display: flex;
        flex-direction: row;
        padding: 8px;
        gap: 8px;
        align-items: baseline;
        cursor: pointer;

        .token {
            flex-grow: 3;
            flex-basis: 0;
        }

        .permission, .createTimestamp {
            flex-grow: 2;
            flex-basis: 0;
        }

        .createTimestamp {
            text-align: right;
        }
    }

    .inviteRow:hover {
        background-color: highlightBg;
    }
}
