@value colors: 'theme/colors.css';
@value highlightBg from colors;

.permissionTable {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .permissionRow {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        .image {
            width: 50px;
            height: 50px;
            flex-grow: 0;
        }

        .image img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            object-fit: cover;
        }

        .name {
            font-weight: bold;
            flex-grow: 1;
            flex-basis: 0;
        }

        .type {
            flex-grow: 1;
            flex-basis: 0;
        }

        .icons {
            width: 100px;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }

    .permissionRow:hover {
        background-color: highlightBg;
    }
}
