.container {
    margin-top: 16px;
    max-width: 600px;

    .button {
        text-align: right;
        margin-top: 16px;
    }
}

.container div:not(:global(.MuiFormControl-root)) {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .iconButtons {
        gap: 0;
    }
}

.container input:global(.PhoneInputInput) {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 8px;
    margin-left: 16px;
}

