@value colors: 'theme/colors.css';
@value gray100, gray300 from colors;

.bracket {
    padding: 8px;
}

.description {
    padding: 8px 16px;
    margin: 16px 0;
    background: gray100;
    box-shadow: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.summaryLinks ul {
    @media (max-width: 768px) {
        margin: 0 16px;
    }
}

.summaryLinks ul :global(.MuiGrid-item:last-of-type) {
    @media (max-width: 768px) {
        text-align: right;
    }
}


.descriptionText {
    border-top: 1px solid gray300;
    margin-top: 32px;

    @media (max-width: 768px) {
        margin-top: 16px;
    }
}
