@value colors: 'theme/colors.css';
@value divider, blueLight4, blueLight5, goldLight5 from colors;

.container {
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 4px;
        margin-bottom: 32px;

        .draftOrderContainer {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .left {
            flex-basis: 0;
            flex-grow: 1;

            .roundSelect {
                margin-bottom: 8px;
            }

            .nowDrafting {
                border: 1px solid divider;
                background-color: blueLight5;
                padding: 16px;
                margin-bottom: 16px;
                border-radius: 8px;

                .caption {
                }

                .teamName {
                    font-size: 24px;
                    font-weight: bold;
                }
            }

            .teamListHeader {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 16px;
            }

            .team {
                display: flex;
                flex-direction: row;
                border: 2px solid transparent;

                .name, .selection {
                    flex-grow: 1;
                    flex-basis: 0;
                }

                .name :global(.MuiInputBase-input) {
                    padding: 0;
                }

                .selection, .deleteButton {
                    margin-top: 3px;
                    cursor: pointer;
                }
            }

            .team:global(.active) {
                font-weight: bold;
                border-color: black;
                background-color: blueLight5;
            }
        }

        .right {
            flex-basis: 0;
            flex-grow: 2;

            .freeAgents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 4px;

                .player {
                    width: calc(33.3% - 4px);
                    border: 1px solid divider;
                    padding: 8px 16px;
                    cursor: pointer;
                    font-size: 16px;
                    border-radius: 8px;
                }

                .player:global(.clearSelection) {
                    background-color: blueLight5;
                }

                .player:hover {
                    background-color: goldLight5;
                }

                .player:global(.clearSelection):hover {
                    background-color: blueLight4;
                }
            }
        }
    }
}
