.cabGroupListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;

    .name {
        flex-basis: 0;
        flex-grow: 1;
    }

    .button {
        flex-basis: 125px;
    }
}
