.selectContainer, .saveContainer {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select {
    width: 400px;
}

.textField {
    width: 400px;
}

.button {
    width: 150px;
}
