@value colors: 'theme/colors.css';
@value gray200 from colors;

.leaderTable {
    margin: 0;
    padding: 0;
}

.valueCell {
    text-align: right;
}

.carousel {
    background: gray200;
    border-radius: 0;
    overflow: hidden;
    padding-bottom: 0.75rem;
}

.avatarCell {
    width: 32px;
}

.avatar {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
