.overlay {
  --blue: #36DBE6;
  --gold: #F7C73D;
  --gold-shadow: #3D392E;
  --blue-shadow: #2D3838;
  height: 1080px;
  width: 1920px;
  position: relative;
  --left-team: var(--blue);
  --right-team: var(--gold);
  --right-team-shade: var(--gold-shadow);
  --left-team-shade: var(--blue-shadow);
  --winner: silver;
  --loser: lightgreen;
}

.flipTeams {
  --left-team: var(--gold);
  --right-team: var(--blue);
  --right-team-shade: var(--blue-shadow);
  --left-team-shade: var(--gold-shadow);
}

.win-economic::before,
.win-snail::before,
.win-military::before {
  content: attr(data-win) + 'VICTORY';
  position: absolute;
  display: block;
  width: 800px;
  height: 200px;
  font-size: 48px;
  font-weight: bold;
  color: red;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.winner-blue {
  --winner: var(--blue);
  --loser: var(--gold);
}

.winner-gold {
  --winner: var(--gold);
  --loser: var(--blue);
}



.sidebar {
  position: absolute;
  /* background-color: #18181B; */
  width: 368px;
  height: 1080px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  padding: 150px 20px 20px;
  zIndex: 1000;
  border-left: 3px solid black;
  color: white;
  font-family: jaf-mashine;
  background: linear-gradient(-45deg, #00000099, #000000cc), linear-gradient(-45deg, #ed009e, #b501e7, #00bbff);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.logan {
  max-width: 100%;
  height: auto;
  transform: translateY(-35%);
  position: absolute;
  width: 150px;
}

.hivemindLogo {
  margin-left: auto;
  transform-origin: top right;
  transform: scale(.8);
  text-align: right;
}

.bottomInfoBox {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  gap: 12px;
  border-top: 2px solid black;
  background-color: rgba(0, 0, 0, .2);
  /* min-height: 206px; */
}

.dateTime,
.bottomInfo {
  color: white;
  text-align: left;
  display: block;
  letter-spacing: -1.5px;
  font-size: 14px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

.dateTime {
  text-align: right;
}


.playersLoggedIn .title {
  text-align: left;
  font-family: jaf-mashine;
}


/* GAME STATE OVERLAY ANIMATIONS */

.gameCaptureOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  width: 1552px;
  height: 873px;
  left: 0;
  top: 0;
  z-index: 88;
  opacity: 0;
  transition: opacity 400ms ease-out;
  overflow: hidden;
}
@keyframes delayHide {
  100% {
    opacity: 0;
  }
}

.gameend .gameCaptureOverlay {
  animation: delayHide 200ms 12s forwards 1;
  opacity: 1;
}

.militaryVictory {
  position: absolute;
  width: 800px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.militaryVictoryAnime {
  position: absolute;
  inset: 0;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.7777777778;
}

.milWinText {
  font-size: 64px;
  font-weight: bold;
  font-family: 'jaf-mashine';
  letter-spacing: -6px;
  color: red;
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  text-shadow: 0 1px green, 0 2px green, 0 3px green;
}

.milWinCrowns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.milWinCrown,
.milWinSword {
  width: 200px;
  height: 200px;
  margin-top: auto;
  position: relative;

}

.milWinCrown {
  animation: scaleIn 500ms both 1 ease-out;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
}

.milWinSwordIcon {
  color: var(--winner);
}

.milWinCrownIcon {
  color: var(--loser);
}


.milWinSwordWrap {
  animation: milWinSwordEnter 3s both 1;
  position: absolute;
  top: -10px;
  left: 0;
}

.milWinSword {
  animation: milWinSword 300ms forwards 1;
  animation-delay: 3.75s;
  animation-fill-mode: both;
}

.milWinCrown:nth-child(1) .milWinSwordWrap {
  animation-delay: 0ms
}

.milWinCrown:nth-child(2) .milWinSwordWrap {
  animation-delay: 300ms
}

.milWinCrown:nth-child(3) .milWinSwordWrap {
  animation-delay: 500ms
}

@keyframes milWinSwordEnter {
  0% {
    transform: translate3d(0, -600px, 0)
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes milWinSword {
  0% {
    transform: translate3d(0, -200px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.milWinSwordIcon {
  transform: rotate(-135deg);
}

.milWinCrown:nth-child(2) {
  margin-top: 0;
}

.whoWins {
  font-size: 64px;
  font-family: 'jaf-mashine';
  color: var(--winner);
  text-align: center;
  margin: 120px auto 0;
  font-weight: bold;
  z-index: 1000;
  position: relative;
}


/* BOTTOM STATS AND TEAMS */

.bottombar {
  position: absolute;
  /* background-color: black; */
  bottom: 0;
  height: 204px;
  left: 0;
  width: 1552px;
  display: flex;
  justify-content: center;
}
.bottombar::after {
  content: '';
  display: block;
  position: absolute;

  bottom:0;
  left: 430px;
  right: 430px;
  height: 204px;
  background: black;
  z-index: -1;
}

.teamSection {
  position: absolute;
  color: black;
  width: 50%;
  bottom: 0;
  padding-bottom: 20px;
  top: 0;
}

.teamSection::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 27px;
  background-color: var(--left-team-shade);
}

.teamSection.rightTeam::before {
  background-color: var(--right-team-shade);
}

.teamSection::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;

}

.teamSection.leftTeam {
  left: 0;
  text-align: left
}

.teamSection.leftTeam::after {
  background: linear-gradient(45deg, var(--left-team) 0%, var(--left-team) 95%, transparent 95%, transparent 100%);
}

.teamSection.rightTeam {
  right: 0;
  text-align: right;
}


.teamSection.rightTeam::after {
  background: linear-gradient(315deg, var(--right-team) 0%, var(--right-team) 95%, transparent 95%, transparent 100%);
}

.statsSection {
  position: relative;
  z-index: 10;
  padding-top: 6px;
}

.gameTime {
  position: absolute;
  top: 56px;
  left: 50%;
  width: 65px;
  transform: translate(-50%, 0);
  justify-content: center;
}

.berries-remaining {
  font-size: 18px;
}