@value colors: 'theme/colors.css';
@value goldLight5, goldLight3, goldDark1, goldDark3 from colors;

.carousel {
    max-width: 750px;
    margin: 0 auto;
}

.carousel :global(.carousel-slider) {
    overflow: visible;
}

.carousel :global(.control-dots) {
    bottom: -50px;

    @media (max-width: 768px) {
        position: fixed;
        bottom: 0;
        opacity: 0.3;
    }
}

.carousel :global(.carousel-status) {
    display: none;
}

.arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
    transition-property: color, background;
    bottom: -40px;
}

.arrow svg {
    stroke-width: 1px;
    color: goldDark1;
    stroke: goldDark3;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    position: absolute;
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
}

.arrow:hover {
    background: goldLight5;
}

.arrowPrev {
    left: calc(50% - 250px);
}

.arrowNext {
    right: calc(50% - 250px);
}

.indicator {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transform: rotate(30deg);
    color: transparent;
    stroke-width: 2px;
    stroke: goldDark3;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    transition: 0.3s ease;
    transition-property: color, stroke;
}

.indicator:hover {
    stroke: goldDark1;
    color: color-mix(in srgb, goldDark1, transparent 80%);
}

.indicator.selected {
    stroke: goldDark3;
    color: color-mix(in srgb, goldDark1, transparent 20%);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.indicator:nth-child(odd) {
    position: relative;
    top: -10px;
}

