@value colors: 'theme/colors.css';
@value divider, selectedBg, highlightBg from colors;

.container {
    display: flex;
    flex-direction: row;

    .statTypes {
        width: 240px;

        .statType {
            cursor: pointer;
            border: 1px solid divider;
            padding: 4px 8px;
            margin-top: -1px;
        }

        .statType.selected {
            background-color: selectedBg;
            font-weight: bold;
        }
    }

    .selectedStat {
        flex-grow: 1;
        flex-basis: 0;
        padding: 0 16px;

        .title {
            text-align: center;
        }
    }
}
